## Last changed: 2016-03-21 16:44:11 UTC
version 12.1X44-D35.5;
system {
    host-name aac-rj1;
    root-authentication {
        encrypted-password "$1$2m/AYn5d$PzxO4ewjaDUJAf7SlcSFR1"; ## SECRET-DATA
    }   
    name-server {
        208.67.222.222;
        208.67.220.220;
    }   
    services {
        ssh;
        telnet;
        xnm-clear-text;
        web-management {
            http {
                interface vlan.0;
            }   
            https {
                system-generated-certificate;
                interface vlan.0;
            }   
        }   
    }   
    syslog {
        archive size 100k files 3;
        user * {
            any emergency;
        }   
        file messages {
            any critical;
            authorization info;
        }   
        file interactive-commands {
            interactive-commands error;
        }   
    }   
    max-configurations-on-flash 5;
    max-configuration-rollbacks 5;
    license {
        autoupdate {
            url https://ae1.juniper.net/junos/key_retrieval;
        }   
    }   
}   
interfaces {
    ge-0/0/0 {
        description aac-sj1;
        disable;
        unit 0;
    }   
    ge-0/0/1 {
        description aac-rj2;
        disable;
        unit 0;
    }   
    ge-0/0/2 {
        disable;
        unit 0;
    }   
    ge-0/0/3 {
        disable;
        unit 0;
    }   
    ge-0/0/4 {
        description leverkusen;
        disable;
        unit 0;
    }
    ge-0/0/5 {
        description langenfeld;
        disable;
        unit 0
    }
    ge-0/0/6 {
        disable;
        unit 0;
    }
    ge-0/0/7 {
        disable;
        unit 0;
    }
    ge-0/0/8 {
        disable;
        unit 0;
    }
    ge-0/0/9 {
        disable;
        unit 0;
    }
    ge-0/0/10 {
        disable;
        unit 0;
    }
    ge-0/0/11 {
        disable;
        unit 0;
    }
    ge-0/0/12 {
        disable;
        unit 0;
    }
    ge-0/0/13 {
        disable;
        unit 0;
    }
    ge-0/0/14 {
        disable;
        unit 0;
    }
    ge-0/0/15 {
        disable;
        unit 0;
    }
    vlan {
        unit 0 {
            family inet;
        }
    }
}
protocols {
    lldp {
        interface all;
    }
    stp;
}
security {
    forwarding-options {
        family {
            inet6 {
                mode flow-based;
            }
        }
    }
    policies {
        from-zone anywhere to-zone anywhere {
            policy trust-everything {
                match {
                    source-address any;
                    destination-address any;
                    application any;
                }
                then {
                    permit;
                }
            }
        }                               
    }
    zones {
        security-zone anywhere {
            host-inbound-traffic {          
                protocols {
                    all;
                }
            }
            interfaces {
                all;
            }
        }
    }
}
vlans {
    vlan-trust {
        vlan-id 3;
        l3-interface vlan.0;
    }
}
