! Last configuration change at 15:08:16 UTC Mon Mar 21 2016
version 15.2
service timestamps debug datetime msec
service timestamps log datetime msec
no service password-encryption
!
hostname aac-rc1
!
boot-start-marker
boot-end-marker
!
!
enable secret 5 $1$Z0/3$Nr3iizJNGa8AsxSqY6TgS.
!
no aaa new-model
!
!
ip cef
!
!
!         
!
ip domain-lookup
!
!
!
!
no ipv6 cef
!
!
multilink bundle-name authenticated
!
!
!
!
!
!
!
lldp run
! 
!
!
!         
!
!
!
!
!
interface GigabitEthernet0
 no ip address
 shutdown
!
interface GigabitEthernet1
 description aac-sj1
 no ip address
 shutdown
!
interface GigabitEthernet2
 no ip address
 shutdown
!
interface GigabitEthernet3
 no ip address
 shutdown 
!
interface GigabitEthernet4
 no ip address
 shutdown
!
interface GigabitEthernet5
 no ip address
 shutdown
!
interface GigabitEthernet6
 no ip address
 shutdown
!
interface GigabitEthernet7
 no ip address
 shutdown
!
interface GigabitEthernet8
 description aac-rj2
 no ip address
 duplex auto
 speed auto
!
interface GigabitEthernet9
 description aac-sc1
 no ip address
 duplex auto
 speed auto
!
interface Vlan1
 no ip address
!
ip forward-protocol nd
no ip http server
no ip http secure-server
!
!
!
!
!
control-plane
!
!
no cdp run
!
line con 0
 no modem enable
 speed 9600
line aux 0
line vty 0 4
 login
 transport input all
!
scheduler allocate 20000 1000
!
end

